{% extends 'proStageTemplate.html.twig' %}

{% block title %}
{% if action == "ajouter" %}
Ajout d'une ressource pédagogique
{% else %}
Modifier une ressource pédagogique
{% endif %}
{% endblock %}

{% block body %}
</br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
		<p class="font-weight-bold">Veuillez saisir les informations concernant l'entreprise</p>
{{ form_start(vueFormulaire) }}


{{ form_row(vueFormulaire.nom, {'attr':{'placeholder':"Ex : Safran"}})}}

{{ form_row(vueFormulaire.activite, {'attr':{'placeholder':"Ex : Aeronautique"}})}}

{{ form_row(vueFormulaire.adresse, {'attr':{'placeholder':"Ex : 3 rue des Potiers"}})}}

<button type="submit" class="btn btn-dark">Enregistrer</button>

{{ form_end(vueFormulaire) }}


</br>
          <button type="button" class="btn btn-default btn-sm">
         <span class="glyphicon glyphicon-arrow-left"><a class="nav-link" href="{{path('prostage-acceuil')}}"></span> Back
        </button>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>




{% endblock %}