{% extends 'proStageTemplate.html.twig' %}

{% block title %}Prostage</title>{% endblock %}

{% block body %}
<h1>Bienvenue sur ProStage</h1>
<table class="table table-striped">
  <thead class="thead-dark" >
    <tr>
   
      <th scope="col">Intitule</th>
      <th scope="col">Entreprise</th>
      <th scope="col">Formation</th>
    </tr>
  </thead>
  <tbody>
  <nav class="navbar navbar-dark bg-primary">
 <button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-plus"><a class="nav-link" href="{{path('ajouterEntreprise')}}"></span> Ajouter une entreprise</button>
  <button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-plus"><a class="nav-link" href="{{path('ajouterEntreprise')}}"></span> Ajouter une entreprise</button>
  <button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-plus"><a class="nav-link" href="{{path('ajouterEntreprise')}}"></span> Ajouter une entreprise</button>
  <button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-plus"><a class="nav-link" href="{{path('ajouterEntreprise')}}"></span> Ajouter une entreprise</button>
    <button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-plus"><a class="nav-link" href="{{path('ajouterEntreprise')}}"></span> Ajouter une entreprise</button>
    <button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-plus"><a class="nav-link" href="{{path('ajouterEntreprise')}}"></span> Ajouter une entreprise</button>
    <button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-plus"><a class="nav-link" href="{{path('ajouterEntreprise')}}"></span> Ajouter une entreprise</button>

  </nav>

  {% for stageCourant in stages %}
    <tr>

      <td><a href="{{path('stage',{'id':stageCourant.id})}}">{{stageCourant.titre}}</td>
      <td><a href="{{path('entreprise',{'id2':stageCourant.Entreprise.nom})}}">{{stageCourant.Entreprise.nom}}
      <a class="nav-link" href="{{path('modifEntreprise',{'id':stageCourant.Entreprise.id})}}">(Modifier)</a></td>

      {% for formation in stageCourant.formations %}
        <td><a href="{{path('formation',{'idFormation':formation.nom})}}">{{formation.nom}}</td>
      {% endfor %}
     
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
