{% extends 'proStageTemplate.html.twig' %}

{% block title %}Prostage</title>{% endblock %}

{% block body %}
<h1>Bienvenue sur ProStage</h1>
<table class="table table-striped">
  <thead class="thead-dark" >
    <tr>
   
      <th scope="col">Intitule</th>
      <th scope="col">Entreprise</th>
      <th scope="col">Formation</th>
    </tr>
  </thead>
  <tbody>
  {% for stageCourant in stages %}
    <tr>

      <td><a href="{{path('stage',{'id':stageCourant.id})}}">{{stageCourant.titre}}</td>
      <td><a href="{{path('entreprise',{'id2':stageCourant.Entreprise.id})}}">{{stageCourant.Entreprise.nom}}</td>
      {% for formation in stageCourant.formations %}
        <td><a href="{{path('formation')}}">{{formation.nom}}</td>
      {% endfor %}
     
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
